body {
  background-color: rgb(34, 34, 34);
  color: rgb(235, 235, 235);
  font-family: "Ubuntu", sans-serif;
  margin-left: 0;
  margin-right: 0;
}

.header {
  background: rgb(34, 34, 34); 
  z-index: 100;
}

.content {
  padding-top: 0px;
  max-width: 100%;
  width: 100%;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}

.welcome {
  text-align: center;
}

hr {
  margin: 20px auto;
  color: #00ff73;
  border: 2px solid #00ff73;
  max-width: 20rem;
  transition: all 0.4s ease-in-out;
}

.sticky hr {
  max-width: 100%;
  background-color: #00ff73;
  transition: all 0.4s ease-in;
}

.buffer {
  margin-top: 3rem;
}

.gallery {
  margin-left: 20%;
  margin-right: 20%;
  max-width: 60%;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  justify-items: center;
}

.image {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
  border: 2px solid rgba(0, 0, 0, 0.192);
  border-radius: 20px;
  transition: all 0.2s ease-out;
}
.image:hover {
  box-shadow: 7px 7px 3px 2px #00000015;
  border: 2px solid #00ff73;
  border-radius: 5px;
  transition: all 0.2s ease-out;
  scale: 108%;
  rotate: 1deg;
  z-index: 99;
}

.gallery img:hover:nth-child(even) {
  rotate: -1deg;
}

.image::backdrop {
  background-color: rgba(0, 0, 0, 0.308);
}

.gh {
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 123, 0);
  transition: all 0.2s linear;
}

.gh:hover {
  color: aqua;
  text-shadow: 1px 1px #ffffff2d;
  transition: all 0.2s ease-in;
}
